{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}Edita tu código{% endblock %}

{% block content %}
<h1>Código de tu serpiente</h1>
<h2>Server URL: {{ request.url|replace('/code/', '/snake/') }} </h2>
<form method="POST">
    <div class="form-group">
        <textarea id="code" name="code">{{ code }}</textarea>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    {% if error %}
    <div class="error" role="alert">
        {{ error }}
    </div>
    {% endif %}
</form>

<div class="results">
    <h2>Resultados</h2>
    <pre>{{ results }}</pre>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js" integrity="sha512-8RnEqURPUc5aqFEN04aQEiPlSAdE0jlFS/9iGgUyNtwFnSKCXhmB6ZTNl7LnDtDWKabJIASzXrzD0K+LYexU9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/python/python.min.js" integrity="sha512-2M0GdbU5OxkGYMhakED69bw0c1pW3Nb0PeF3+9d+SnwN1ryPx3wiDdNqK3gSM7KAU/pEV+2tFJFbMKjKAahOkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        lineNumbers: true,
        mode: 'python',
        theme: 'default'
    });
    editor.setSize(null, "500px");
</script>
{% endblock %}
